/* text placement and style */

.border {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  border: 5px solid black;
  border-radius: 75px;
}
.card-img-top {
  width: 75px;
  height: 75px;
}
.card-img-top:hover {
  transform: scale(2);
}
.card {
  text-align: center;
  align-items: center;
  max-width: 250px;
  /* padding: auto; */
}
html,
body {
  font-family: Arial, sans-serif;
  background-color: red;
}


.navbar-fixed {
  left: 200px; /* just an estimate of your sidebar's width */
  width: calc(80% - 200px);
}